<div align ="center" class="container">



<h3>About the developer</h3>

  <p>Thanks for using Tempo! My name is <a href="http://elainapolson.com/" target="_blank">Elaina Polson</a>, and I am currently a web development student at <a href="http://flatironschool.com/" target="_blank">the Flatiron School</a>. If you have any questions or suggestions regarding this application, please feel free to <a href="mailto:elainapolson@gmail.com?Subject=Hi%20there!" target="_top">reach out to me</a>. In the meantime, you can find me on <a href="https://github.com/elainapolson" target="_blank">Github</a>, <a href="https://www.linkedin.com/in/elainapolson" target="_blank">LinkedIn</a>, <a href="https://twitter.com/elainapolson" target="_blank">Twitter</a>, and <a href="https://instagram.com/elainapolson" target="_blank">Instagram</a>.</p>

 

<h3>Technical Details</h3>

  <p>Tempo is a Rails application that curates playlists based on a user's current activity. Here's how I built it:</p>


  <p>Harnessed Nokogiri to parse through Billboard.com’s Hot 100 list and collect Spotify track identification numbers</li>

  <p>Used Spotify API to find songs by track identification numbers scraped from Billboard</p>

  <p>Utilized Echo Nest API to find a song's beats per minute; filtered songs into categories based on this data</p>

  <p>Integrated OmniAuth to login users via Spotify</p>


</div>