<div align ="center">

<h1>TEMPO</h1>

<h2>Pick a category to get a curated playlist based on Spotify's Top 100 hits!</h2>

</br>

<div class="main-photo" id="sleep">
<%= link_to image_tag('asset_path("sleep.jpg")', :border => 0), "/categories/1" %>
</div>

<div class="main-photo" id="study">

<%= link_to image_tag('asset_path("study.jpg")', :border => 0), "/categories/2" %>
</div>

<div class="main-photo" id="party">
<%= link_to image_tag('asset_path("party.jpg")', :border => 0), "/categories/3" %>
</div>

<div class="main-photo" id="workout">
<%= link_to image_tag('asset_path("workout.jpg")', :border => 0), "/categories/4" %>
</div>

</div>




