<div align ="center">

<div class="jumbotron">
Pick a category to get a curated playlist based on Billboard's Hot 100!
  </div>

</br>

<div class="main-photo" id="sleep">
<%= link_to image_tag("sleep.jpg", :border => 0), "/categories/1" %>
</div>

<div class="main-photo" id="study">
<%= link_to image_tag("study.jpg", :border => 0), "/categories/2" %>
</div>

<div class="main-photo" id="party">
<%= link_to image_tag("party.jpg", :border => 0), "/categories/3" %>
</div>

<div class="main-photo" id="workout">
<%= link_to image_tag("workout.jpg", :border => 0), "/categories/4" %>
</div>

</div>




