  <div align ="center">

  <h1><%= @category.name %> Playlist</h1>


<% @category.songs.each do |song| %>

  <h2><%= link_to "#{song.title} (#{song.artist})", "https://play.spotify.com/track/#{song.track_url}", :target => "_blank" %></h2>

<% end %>

<br> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>