<div align ="center">

<h1><%= @playlist.name %> Playlist</h1>

<% @playlist.songs.each do |song| %>

<h3><%= link_to "#{song.title} (#{song.artist})", user_playlist_song_path(@user, @playlist, song) %></h3>

<iframe src="https://embed.spotify.com/?uri=spotify:track:<%= song.track_url %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

<br>
<br>

<% end %>

<h4><%= link_to "Add playlist to my Spotify account", spotify_path %></h4>

</div>