<div class="footer">
<p align="center">Made <i class="fa fa-heart"></i> by <a href="https://www.github.com/elainapolson" target="blank">Elaina Polson</a> at <a href="https://www.flatironschool.com" target="blank" style = "text-decoration: none;">Flatiron School</a> | <a href="https://www.github.com/elainapolson/tempo-app" target="blank" style = "text-decoration: none;">Fork the code!</a> </p>
</div>