<div class="footer">
  <div class="footer-text">Made <i class="fa fa-heart"></i> by <a href="https://www.github.com/elainapolson" target="blank">Elaina Polson</a> at <span id = "slash">//</span> <a href="https://www.flatironschool.com" target="blank" style = "text-decoration: none;">Flatiron School</a></div>
</div>