<footer class="footer">
<div class="container">
  <p class="text-muted">Made <i class="fa fa-heart"></i> by <a href="https://www.github.com/elainapolson" target="blank">Elaina Polson</a> at <a href="https://www.flatironschool.com" target="blank" style = "text-decoration: none;">Flatiron School</a></p>
</div>
</footer>
  